// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
html,
body {
    background-color: $dark;
}
.demo {
    color: white;
    .element {
        height: 300px;
    }
    .active {
        color: red;
    }
}
.container {
    margin: 0;
    padding: 0;
}
.page-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: $white;
    padding: 5px;
    z-index: 9999;
    height: 40px;
    &.dark {
        background-color: $dark;
    }
    &.dark-lighter {
        background-color: $dark-lighter;
    }
    p {
        margin: 0;
        line-height: 30px;
        &.bold {
            font-weight: bold;
        }
        &.normal {
            font-weight: 300;
            font-size: 10px;
        }
    }
    i {
        font-size: 30px;
        color: white;
    }
}
.process-bar {
    position: relative;
    width: 90%;
    height: 27px;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    .line {
        width: 100%;
        height: 2px;
        background-color: $white;
        position: absolute;
        left: 0px;
        top: calc(50% - 1px);
    }
    .node {
        width: 27px;
        border: 2px solid $white;
        margin: 0;
        padding: 0;
        border-radius: 50%;
        background-color: $darkSubtitle;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 55;
        &.active {
            background-color: $yellow;
        }
        .node-number {
            color: $white;
            text-align: center;
            &.active {
                color: $dark;
            }
        }
    }
    .node-text {
        flex: 1;
        font-size: 10px;
        font-weight: 500;
        text-align: center;
        color: $darkSubtitle;
        &.active {
            color: $white;
        }
    }
}
.products {
    height: 100vh;
    background-color: $dark;

    .main {
        display: flex;
        // max-height: calc(100vh - 30px - 27px - 100px);
        // overflow: scroll;
        position: relative;
    }
    .category-list {
        width: 20vw;
        color: $white;
        margin-top: 20px;
        max-height: calc(100vh - 30px - 27px - 100px);
        overflow: scroll;
        display: flex;
        flex-direction: column;
        text-align: center;
        .category-list-item {
            padding: 10px;
            font-size: 12px;
            background-color: $categoryList;
            border-bottom: 1px solid $categoryListDivider;
            &.active {
                color: $yellow;
                background-color: $dark;
                border-left: 2px solid $yellow;
            }
        }
    }
    .product-list {
        height: calc(100vh - 30px - 27px - 100px);
        overflow: scroll;
        padding-bottom: 200px;
    }
    .product-group {
        width: 80vw;
        color: $white;
        margin-top: 20px;
        padding-left: 10px;
        padding-bottom: 50px;
        .product-card {
            margin-top: 20px;
            display: flex;
            .img-wrapper {
                img {
                    width: 80px;
                    height: 54px;
                }
            }
            .control {
                flex: 1;
                padding: 0px 10px;
                padding-right: 25px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .text-information_title {
                    font-size: 12px;
                    line-height: 12px;
                    display: flex;
                    justify-content: space-between;
                }
                .text-information_description {
                    font-size: 10px;
                    line-height: 10px;
                    color: $darkSubtitle;
                }
            }
        }
    }
}
.shop-cart-button {
    position: fixed;
    display: flex;
    width: 100vw;
    bottom: 0;
    left: 0;
    height: 30px;
    i {
        position: absolute;
        color: $yellow;
        border: 4px solid $yellow;
        border-radius: 50%;
        padding: 5px;
        bottom: 6px;
        left: 18px;
        background-color: $dark;
    }
    .left {
        width: 80%;
        background-color: $yellow;
    }
    .right {
        width: 20%;
        background-color: $white;
        text-align: center;
        line-height: 35px;
        a {
            color: $dark;
        }
    }
    .total-price {
        padding-top: 5px;
        margin-left: 65px;
    }
}

.carousel img {
    height: 15vh;
}
.banner {
    width: 100vw;
    overflow: hidden;
}
.banner img {
    width: 100%;
    height: 27vh;
    transform: scaleX(1.2);
}
.control-pannel {
    display: flex;
    justify-content: space-between;
    height: 18px;
    .quantity-control-pannel {
        color: $white;
        display: flex;
        height: 18px;

        i {
            color: $dark;
            background-color: $yellow;
            border-radius: 50%;
            font-size: 18px;
        }
        .quantity {
            width: 18px;
            line-height: 18px;
            text-align: center;
        }
    }

    .sold {
        color: $green;
    }
    .navigate-control-pannel {
        background-color: $yellow;
        color: $dark;
        border-radius: 5px;
        font-size: 10px;
        padding: 3px;
    }
}

.shopping-cart-list {
    width: 100%;
    min-height: 300px;
    position: absolute;
    bottom: 0;
    left: 0;
    color: $white;
    background-color: $dark;
    .header {
        display: flex;
        justify-content: space-between;
        padding: 2px 15px;
        height: 27px;
        box-shadow: 1px 1px 1px black;
        margin-bottom: 10px;
        .header-text {
            flex: 6;
            text-align: center;
        }
    }
}

.quantity-control-pannel {
    color: $white;
    display: flex;
    height: 18px;

    i {
        color: $dark;
        background-color: $yellow;
        border-radius: 50%;
        font-size: 18px;
    }
    .quantity {
        width: 18px;
        line-height: 18px;
        text-align: center;
    }
}

.shopping-cart-item {
    display: flex;
    justify-content: space-between;
    padding: 15px 15px;
    height: 90px;
    font-size: 12px;
    box-shadow: 1px 1px 1px $categoryListDivider;
    .item-name {
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: 90px;
        flex: 3;
    }
    .item-price-quantity {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: right;
        .quantity-control-pannel {
            justify-content: flex-end;
        }
    }
}

.confirm {
    color: $white;
}

.pickup-address {
    padding: 5px 15px;
    margin-bottom: 10px;
    box-shadow: 1px 1px 1px $categoryListDivider;
    background-color: $darkSubtitle;
}

// temp no use
.shops {
    height: 100vh;
    background-color: $dark;
}
.shop-list {
    background-color: $dark;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.shop-card {
    text-align: center;
    margin-top: 10px;
    img {
        height: 18vh;
    }
    .tag-wrapper {
        margin-top: 5px;
        display: flex;
        padding: 2px 15px;
        .tag-green,
        .tag-red {
            font-size: 10px;
            color: $white;
            margin-right: 4px;
            border-radius: 2px;
            padding: 0px 4px;
        }
        .tag-red {
            background-color: $red;
        }
        .tag-green {
            background-color: $green;
        }
    }
    .text-infos {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        color: $white;
        padding: 2px 15px;
        .text-info_title {
            text-align: left;
        }
        .text-info_details {
            display: flex;
            justify-content: space-between;
            font-size: 10px;
        }
    }
    .control-pannel {
        padding: 2px 15px;
    }
}
